<div class='container options'>
    <h1>Choose Your Culvers</h1>
    <form name="locationform">
        <input focus type="text" ng-model="storeSearch" placeholder="Search for a location">
    </form>
    <ul>
        <li ng-repeat="store in stores.list | filter: storeSearch" ng-click="selectStore(store.url)">{{store.name}}<span ng-class="{true: 'glyphicon glyphicon-ok', false: ''}[store.url === selectedStore]"></span></li>
    </ul>
</div>
<button class="nav-button" ui-sref='home' autofocus="false"><span class="glyphicon glyphicon-home"></span></button>